@import url(../css/login.css);
@import url(../css/cabecalho_home.css);
@import url(../css/principal_home.css);
@import url(../css/footer_home.css);


:root{
    --bt_login: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);;
    --texto: #E0E0E0;
    --background-login: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    --texto_erro:  #E9B425;
    --texto_navegando: #C13216;
    --branco: #FFFFFF;
    --texto_home: #C12D18;
    --background_input: #26292C;
    --texto_cabecalho-home: #222222;
    --background_footer: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);

    
    --font_Poppins: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--font_Poppins);

   
}